<div class="container" *ngIf="billDetails">
  <h2>Details de la Facture</h2>

  <!-- Affichage des détails de la facture -->
  <div>
    <p><strong>Facture ID:</strong> {{ billDetails.id }}</p>
    <p><strong>Date de facturation:</strong> {{ billDetails.billingDate | date:'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Customer ID:</strong> {{ billDetails.customerId }}</p>
    <p><strong>Nom du client:</strong> {{ billDetails.customer?.name }}</p>
    <p><strong>Email du client:</strong> {{ billDetails.customer?.email }}</p>
  </div>

  <h3>Produits</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Produit</th>
      <th>Quantité</th>
      <th>Prix</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <!-- Itération sur les items de la facture -->
    <tr *ngFor="let item of billDetails.productItems">
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price | currency }}</td>
      <td>{{ item.quantity * item.price | currency }}</td>
    </tr>
    </tbody>
  </table>
</div>

